[submodule "framework"]
	path = framework
	url = git@github.com:MasLazu/MasLazu.AspNet.Framework.git
[submodule "utilities/MasLazu.AspNet.EmailSender"]
	path = utilities/MasLazu.AspNet.EmailSender
	url = git@github.com:MasLazu/MasLazu.AspNet.EmailSender.git
[submodule "modules/MasLazu.AspNet.Verification"]
	path = modules/MasLazu.AspNet.Verification
	url = git@github.com:MasLazu/MasLazu.AspNet.Verification.git
[submodule "modules/MasLazu.AspNet.Authentication.Core"]
	path = modules/MasLazu.AspNet.Authentication.Core
	url = git@github.com:MasLazu/MasLazu.AspNet.Authentication.Core.git
[submodule "modules/MasLazu.AspNet.Authentication.Password"]
	path = modules/MasLazu.AspNet.Authentication.Password
	url = git@github.com:MasLazu/MasLazu.AspNet.Authentication.Password.git
