[submodule "framework"]
	path = framework
	url = git@github.com:MasLazu/MasLazu.AspNet.Framework.git
[submodule "utilities/MasLazu.AspNet.EmailSender"]
	path = utilities/MasLazu.AspNet.EmailSender
	url = git@github.com:MasLazu/MasLazu.AspNet.EmailSender.git
[submodule "modules/MasLazu.AspNet.Verification"]
	path = modules/MasLazu.AspNet.Verification
	url = git@github.com:MasLazu/MasLazu.AspNet.Verification.git
[submodule "modules/MasLazu.AspNet.Authentication.Core"]
	path = modules/MasLazu.AspNet.Authentication.Core
	url = git@github.com:MasLazu/MasLazu.AspNet.Authentication.Core.git
[submodule "modules/MasLazu.AspNet.Authentication.Password"]
	path = modules/MasLazu.AspNet.Authentication.Password
	url = git@github.com:MasLazu/MasLazu.AspNet.Authentication.Password.git
[submodule "modules/MasLazu.AspNet.Authorization.Core"]
	path = modules/MasLazu.AspNet.Authorization.Core
	url = git@github.com:MasLazu/MasLazu.AspNet.Authorization.Core.git
[submodule "modules/MasLazu.AspNet.Authorization.Rbac"]
	path = modules/MasLazu.AspNet.Authorization.Rbac
	url = git@github.com:MasLazu/MasLazu.AspNet.Authorization.Rbac.git
[submodule "modules/MasLazu.AspNet.ApiKey"]
	path = modules/MasLazu.AspNet.ApiKey
	url = git@github.com:MasLazu/MasLazu.AspNet.ApiKey.git
[submodule "utilities/MasLazu.AspNet.Storage"]
	path = utilities/MasLazu.AspNet.Storage
	url = git@github.com:MasLazu/MasLazu.AspNet.Storage.git
